@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: #fff;
}


::selection {
  background-color: #12feaa;
  color: #141414;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background-color: #12feaa;
  border-radius: 8px;
  border: 3px solid #141414;
}

::-webkit-scrollbar-track {
  background: #141414;
  cursor: pointer;
}

section {
  min-height: calc(100vh - 70px);
  padding-top: 70px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}