@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

::selection {
  background-color: #12feaa;
  color: #141414;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #12feaa;
  border-radius: 4px;
  border: 2px solid #141414;
}

::-webkit-scrollbar-track {
  background: #141414;
}
